/*===== GENERAL =====*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #415f7e;
}

p {
    margin: 0;
    padding: 0;
}

a:hover {
    border-bottom: 1px dotted;
}

img {
    display: block;
    width: 100%;
}

#portfolio,
#about,
#contact {
    padding: 5em 0 0 0;
}

#portfolio h2,
#about h2,
#contact h2 {
    font-weight: 300;
    padding: 0  0 1em 1.5em;
    font-size: 1.875em;
    margin: 0;
}


/*===== NAVIGATION =====*/

header {
    background-color: rgba(238,238, 238, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 3em;
    z-index: 1000;
    border-bottom: 1px solid #c8c8c8;
    -moz-box-shadow: 0 0 8px #555;
    -webkit-box-shadow: 0 0 8px #555;
	  box-shadow: 0 0 8px #555; /* offset-x | offset-y | blur-radius | color */
}

#menu-button {
    background-color: #eba678;
    margin: 0.6em 0 0 0;
    padding: 0.8em;
    border: 1px solid #969696;
    border-radius: 5px;
    font-size: 1.125em;
    float: right;
}

#logo {
    display: inline-block;
    font-size: 1.75em;
    font-weight: 300;
    margin: 0.6em 0 1em 0;
}

#nav-menu {
    margin: 1em auto 0;
    padding: 0.5em 0 0;
    text-align: center;
    font-size: 1.125em;
    font-weight: 300;
    display: none;
}

nav li {
    margin:0 0 2em 0;
}

nav li a {
    color: #333;
    padding: 0.6em;
}

#logo:hover {
    color: #eba678;
    font-weight: 400;
    border-bottom: none;
}


/*===== INTRO =====*/

#intro {
    position: relative;
    margin: 0 auto;
    padding: 14em 0 5em;
    background: #d1dae2 url("../img/water.jpg") no-repeat fixed center center / cover;
    text-align: center;
    height: 60em;
    -moz-box-shadow: 0 0 8px #555;
    -webkit-box-shadow: 0 0 8px #555;
	  box-shadow: 0 0 8px #555;
}

#intro h1,
#intro h2 {
    padding: 0 1em 0;
    font-weight: 300;
    font-size: 2.5em;
    color: #fafafa;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; /*animate.css fadeInDown*/
}

#intro h2 {
    font-size: 1.875em;
}

.separator {
    width: 50%;
    border-top: 1px solid #fafafa;
}

.intro-img-credit {
    position: absolute;
    bottom: 0.5em;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 0.75em;
    color: #fafafa;
}

.intro-img-credit a {
    color: #fafafa;
    border-bottom: 1px dotted;
}

.intro-img-credit a:hover {
    color: #415f7e;
}


/*===== PORTFOLIO =====*/

#portfolio {
    padding-bottom: 5em;
}

.flex-box {
    -moz-display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    display: flex;
    -moz-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.project {
    width: 26em;
    height: 28em;
    margin: 1em;
    border: 5px solid #eee;
    border-radius: 5px;
    position: relative;
    -moz-box-shadow: 0 0 0.5em #646464;
    -webkit-box-shadow: 0 0 0.5em #646464;
    box-shadow: 0 0 0.5em #646464;
}

.p-title {
    position: absolute;
    padding: 0 0 0 0.4em;
    font-size: 1.75em;
    color: #fafafa;
    font-weight: 400;
    z-index: 1000;
}

.p-link {
    margin: 0.5em 0 0 0;
    padding: 0 0 0 0.5em;
    font-size: 1.25em;
}

.languages {
    margin: 0.5em 0 0 0;
    padding: 0 0 0 0.5em;
    font-size: 1.125em;
}

.p-description {
    display: none;
}

.p-description > p {
    margin: 1em;
}

.p-more-info,
.p-less-info {
    position: absolute;
    right: 2em;
    padding: 0.5em;
    background-color: #ebcdb8;
    border: 1px solid #969696;
    border-radius: 3px;
}

.p-more-info {
    margin: 0.5em 0 0 0;
}

.img-credit {
    font-size: 0.75em;
    padding: 0.5em 0 0 0;
}

.p-credit {
    font-size: 0.75em;
    text-align: center;
}

/*===== RESUME =====*/

#main {
    max-width: 63em;
    margin: 0 auto;
    padding: 10em 1em 4em;
    font-size: 1.125em;
    background-color: #ece4d6;
    -moz-box-shadow: inset 0 0 10px #333;
    -webkit-box-shadow: inset 0 0 10px #333;
    box-shadow: inset 0 0 10px #333;
}

.name,
.role,
.contacts,
.skills {
    font-weight: 300;
}

.name {
    margin-bottom: 0;
    font-size: 1.625em;
}

.name,
.role {
    display: inline-block;
}

.role {
    margin: 0 0 0 0.5em;
}

.contacts {
    text-align: center;
}

.contact1 {
    margin: 1em 0;
}

h4.skills-heading {
    margin-top: 3em;
}

.skills {
    margin: 0 0 0.5em 0;
    font-size: 1.125em;
    font-weight: 400;
    text-align: center;
}

#summary,
#experience,
#projects,
#education,
#tech-courses {
    margin: 3em 0 0;
}

h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.125em;
}

.job-title,
.school-degree,
.tech-course-name {
    font-weight: 700;
    margin: 2em 0 0;
}

.job-title {
    font-style: italic;
}

.job-description {
    padding-left: 1em;
    text-indent: -1em; /* Moves the first line of text to the left and eliminates text wrapping / creates a hanging indent. Thank you A List Apart - http://alistapart.com/article/taminglists */
}

.job-description:nth-child(1n) { /* 1n or 1n+0 matches every child element */
    margin: 0 0 0.5em 1em;
}

.project-title {
    font-weight: bold;
    margin: 3em 0 0;
}

.project-title,
.project-description {
    text-align: center;
}

.project-link {
    text-align: center;
}

.project-image {
    max-width: 20em;
    margin: 1em auto 0;
}

#main hr {
    border: 1px solid #969696;
}

h4:last-child {
    text-transform: none;
    text-align: center;
}


/*===== MAP =====*/

#map {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
}

.credit {
    margin-top: 2em;
    padding: 2em 0;
    font-size: 0.75em;
    text-align: center;
}


/*===== QUOTE =====*/

.quote {
    background: #d1dae2 url("../img/waves.jpg") no-repeat fixed center center / cover;
    height: 40em;
    -moz-box-shadow: 0 0 8px #555;
    -webkit-box-shadow: 0 0 8px #555;
	  box-shadow: 0 0 8px #555;
}

.quote-img-credit {
    float: right;
    padding: 0.5em 1em 0 0;
    font-size: 0.75em;
    color: #fafafa;
}

.quote-img-credit a {
    color: #fafafa;
    border-bottom: 1px dotted;
}

.quote-img-credit a:hover {
    color: #415f7e;
}

blockquote {
    margin: 0;
    font-size: 2.1875em;
    font-weight: 300;
    color: #fafafa;
    padding: 2em 2em 0;
    text-align: center;
}


/*===== ABOUT =====*/

#about {
    padding-bottom: 5em;
}

#about h3 {
    font-weight: 300;
    padding: 0  0 1em 1.5em;
    font-size: 1.5em;
    margin: 1em 0;
}

#about p {
    max-width: 50em;
    margin: 0 auto 1em;
    padding: 0 2em 0;
    font-size: 1.125em;
}


/*===== CONTACT =====*/

#contact {
    background: #95A6BA;
    padding-bottom: 3em;
    -moz-box-shadow: 0 0 8px #555;
    -webkit-box-shadow: 0 0 8px #555;
	  box-shadow: 0 0 8px #555;
}

#contact h3 {
    font-size: 1.5625em;
    font-weight: 300;
    text-align: center;
}

.find-me,
.connect {
    margin: 0 0 5em 0;
}

#contact ul {
    text-align: center;
    padding: 0;
}

.contact {
    display: inline-block;
    margin: 1em 2em 1em;
    font-size: 1.25em;
}

.github-icon,
.fcc-icon {
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.2em;
}

.github-icon:hover {
    color: #000;
}

.fcc-icon:hover {
    color: #006400;
}

.text-input,
textarea {
    display: block;
    margin: 0.5em auto;
    padding: 0 0 0 1em;
    width: 90%;
    border: 1px solid #969696;
    border-radius: 5px;
}

.text-input {
    height: 3em;
}

textarea {
    height: 10em;
    padding-top: 0.5em;
}

.send-email {
    display: block;
    margin: 0.5em auto;
    padding: 0.5em 1em;
    border: 1px solid #969696;
    border-radius: 5px;
    background-color: #ebcdb8;
    font-size: 1.125em;
}

.contact a:hover {
    border-bottom: none;
}


/*===== FOOTER =====*/

footer {
    text-align: center;
    padding: 5em 0 2em 0;
    font-size: 0.625em;
}

footer p:first-child {
    margin: 0 0 0.5em 0;
}

footer a {
    color: #415f7e;
}

footer a:hover {
    border-bottom: 1px dotted;
}


/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 28.5em) {

     /*Resume*/
    .skills {
        width: 5em;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 31.25em) {

    blockquote {
        padding: 5em 2em 0;
    }
}

@media screen and (min-width: 39em) {

    /*Resume*/
    .contacts {
        text-align: inherit;
        padding: 0 1em 0;
    }

    .contact1 {
        margin: 0;
        float: right;
    }

    .skills {
        margin: 0 1em 0;
    }

    .school-location {
        float: right;
    }

    .tech-course-dates {
        float: right;
    }

    #map {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 40em) {

    /*Navigation*/
    #menu-button {
        margin-right: 1em;
    }

    /*Contact*/
    .text-input,
    textarea {
        max-width: 40em;
    }
}

@media screen and (min-width: 52em) {

    /*Resume*/
    .job-location,
    .job-dates {
        display: inline-block;
    }

    .job-dates {
        float: right;
    }

    .job-description {
        clear: both;
    }

    #map {
        width: 500px;
        height: 500px;
    }

    #about h2,
    #contact h2 {
        max-width: 30em;
        margin: 0 auto;
    }

    #about h3 {
        max-width: 37.5em;
        margin: 1em auto 1em;
    }
}

@media screen and (min-width: 56.25em) {

    /*Navigation*/
    nav li {
        display: inline-block;
        margin: 0 3em 0 0;
        padding: 0.8em 0;
    }

    #nav-menu {
        padding-bottom: 1em;
    }

    blockquote {
        max-width: 42em;
        margin: 0 auto;
        font-size: 2.5em;
    }
}

@media screen and (min-width: 68em) {

    #main {
        padding: 10em 8em 4em;
    }
}

@media screen and (min-width: 68.75em) {

    /*Navigation*/
     #menu-button {
        margin-right: 3em;
     }

    #logo {
        padding-left: 2em;
    }
}

@media screen and (min-width: 93.75em) {

    /*Navigation*/
     #menu-button {
        margin-right: 5em;
     }

    #logo {
        padding-left: 4em;
    }
}