/*===== GENERAL =====*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #415f7e;
}

p {
  margin: 0;
  padding: 0;
}

a:hover {
  border-bottom: 1px dotted;
}

img {
  display: block;
  width: 100%;
}

#portfolio,
#about,
#contact {
  padding: 5em 0 0 0;
}

#profile h2,
#portfolio h2,
#about h2 {
  font-weight: 300;
  font-size: 1.75em;
  margin: 0;
  text-align: center;
}


/*===== NAVIGATION =====*/

header {
  background-color: rgba(238,238, 238, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 0.5em;
  z-index: 2000;
  border-bottom: 1px solid #c8c8c8;
  -moz-box-shadow: 0 0 8px #555;
  -webkit-box-shadow: 0 0 8px #555;
	box-shadow: 0 0 8px #555; /* offset-x | offset-y | blur-radius | color */
}

#menu-button {
  background-color: #eba678;
  margin: 0.6em 0.5em 0 0;
  padding: 0.4em;
  border: 1px solid #969696;
  border-radius: 5px;
  font-size: 1.125em;
  float: right;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; /* property name | duration | timing-function*/
}

#logo {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.6em 0 1em 0.5em;
}

#nav-menu {
  margin: 1em auto 0;
  padding: 0.5em 0 0;
  text-align: center;
  font-size: 1.125em;
  font-weight: 300;
  display: none;
}

nav li {
  margin:0 0 2em 0;
}

nav li a {
  color: #333;
  padding: 0.6em;
}

#logo:hover {
  color: #eba678;
  border-bottom: none;
}

#menu-button:hover {
  background-color: #ebcdb8;
}


/*===== INTRO =====*/

#intro {
  position: relative;
  margin: 0 auto;
  padding: 8em 0 5em;
  background: #d1dae2 url("../img/water.jpg") no-repeat fixed center center / cover;
  text-align: center;
  height: 60em;
  -moz-box-shadow: 0 0 8px #555;
  -webkit-box-shadow: 0 0 8px #555;
  box-shadow: 0 0 8px #555;
}

#intro h1,
#intro h2 {
  padding: 0 1em;
  font-weight: 300;
  font-size: 2em;
  color: #fafafa;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; /*animate.css fadeInDown*/
}

#intro h2 {
  font-size: 1.75em;
}

.separator {
  width: 50%;
  border-top: 1px solid #fafafa;
}


/*===== PROFILE =====*/

#profile {
  max-width: 40em;
  margin: 0 auto;
  padding: 5em 0;
  font-weight: 300;
  font-size: 1.125em;
  text-align: justify;
}

#profile h2 {
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
}

#profile p {
  margin: 0 1em 1em;
}

.lets-connect {
  display: block;
  width: 10em;
  margin: 4em auto 0;
  padding: 0.5em 0;
  color: #333;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ebcdb8;
}

.lets-connect {
  background-color: #eba678;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.separator {
  border-top: 1px solid;
}


/*===== PORTFOLIO =====*/

#portfolio {
  padding-bottom: 5em;
}

#portfolio h2 {
  margin: 0 0 2em 0;
}

.project {
  margin: 1em 0.5em 1.5em;
  border-bottom: 2px solid;
  position: relative;
}

.project:last-child {
  border-bottom: none;
}

.p-title {
  position: absolute;
  padding: 0 0 0 0.4em;
  font-size: 1.75em;
  color: #fafafa;
  font-weight: 400;
  z-index: 1000;
}

.p-link {
  margin: 0.5em 0 0 0;
  padding: 0 0 0 0.5em;
  font-size: 1.25em;
}

.languages {
  margin: 0.5em 0 0 0;
  padding: 0 0 0 0.5em;
  font-size: 1.125em;
}

.p-description:last-child {
  margin-bottom: 1.5em;
}

.p-description > p {
  margin: 1em 0.5em;
}

.p-more-info,
.p-less-info {
  display: none;
}


/*===== RESUME =====*/

#main {
  max-width: 63em;
  margin: 0 auto;
  padding: 10em 1em 4em;
  font-size: 1.125em;
  background-color: #ece4d6;
  -moz-box-shadow: inset 0 0 10px #333;
  -webkit-box-shadow: inset 0 0 10px #333;
  box-shadow: inset 0 0 10px #333;
}

.name,
.role,
.contacts,
.skills {
  font-weight: 300;
}

.name {
  margin-bottom: 0;
  font-size: 1.625em;
}

.name,
.role {
  display: inline-block;
}

.role {
  margin: 0 0 0 0.5em;
}

.contacts {
  text-align: center;
}

.contact1 {
  margin: 1em 0;
}

h4.skills-heading {
  margin-top: 3em;
}

.skills {
  margin: 0 0 0.5em 0;
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
}

#summary,
#experience,
#projects,
#education,
#tech-courses {
  margin: 3em 0 0;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125em;
}

h5 {
  font-size: 1.25em;
}

.job-title,
.school-degree,
.tech-course-name {
  font-weight: 700;
  margin: 2em 0 0;
}

.job-title {
  font-style: italic;
}

.job-description {
  list-style: none;
  padding-left: 1em;
}

.job-description:before {
  position: absolute;
  content: "•";
  margin: 0 0 0 -1em;
}

.job-description:nth-child(1n) { /* 1n or 1n+0 matches every child element */
  margin: 0 0 0.5em 0;
}

.project-title {
  font-weight: bold;
  margin: 3em 0 0;
}

.project-title,
.project-description {
  text-align: center;
}

.project-link {
  text-align: center;
}

.project-image {
  max-width: 20em;
  margin: 1em auto 0;
}

#main hr {
  border: 1px solid #969696;
}

h4:last-child {
  text-transform: none;
  text-align: center;
}


/*===== MAP =====*/

#location,
#map {
  display: none;
}


/*===== QUOTE =====*/

.quote {
  background: #d1dae2 url("../img/waves.jpg") no-repeat fixed center center / cover;
  height: 40em;
  -moz-box-shadow: 0 0 8px #555;
  -webkit-box-shadow: 0 0 8px #555;
	box-shadow: 0 0 8px #555;
}

blockquote {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  color: #fafafa;
  padding: 2em 2em 0;
  text-align: center;
}


/*===== ABOUT =====*/

#about {
  padding-bottom: 5em;
  text-align: justify;
}

#about h3 {
  font-weight: 300;
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0;
}

#about p {
  max-width: 40em;
  margin: 1em;
  font-size: 1.125em;
}


/*===== CONTACT =====*/

#contact {
  background: #95a6ba;
  padding-bottom: 3em;
  -moz-box-shadow: 0 0 8px #555;
  -webkit-box-shadow: 0 0 8px #555;
	box-shadow: 0 0 8px #555;
}

#contact h3 {
  font-size: 1.5625em;
  font-weight: 300;
  text-align: center;
}

.find-me,
.connect {
  margin: 0 0 5em 0;
}

#contact ul {
  text-align: center;
  padding: 0;
}

.contact {
  display: inline-block;
  margin: 1em 2em 1em;
  font-size: 1.25em;
}

.github-icon,
.fcc-icon,
.codepen-icon {
  color: #fafafa;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.2em;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.github-icon:hover,
.codepen-icon:hover {
  color: #000;
}

.fcc-icon:hover {
  color: #006400;
}

.text-input,
textarea {
  display: block;
  margin: 0.5em auto;
  padding: 0 0 0 1em;
  width: 90%;
  border: 1px solid #969696;
  border-radius: 5px;
}

.text-input {
  height: 3em;
}

textarea {
  height: 10em;
  padding-top: 0.5em;
}

.send-email {
  display: block;
  margin: 0.5em auto;
  padding: 0.6em 2em;
  border: 1px solid #969696;
  border-radius: 5px;
  background-color: #ebcdb8;
  font-size: 1.125em;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.send-email:hover {
  background-color: #eba678;
}

.contact a:hover {
  border-bottom: none;
}


/*===== FOOTER =====*/

footer {
  text-align: center;
  padding: 5em 0 2em 0;
  font-size: 0.625em;
}

footer p:first-child {
  margin: 0 0 0.5em 0;
}

footer a {
  color: #415f7e;
}

footer a:hover {
  border-bottom: 1px dotted;
}
